*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// variaveis css
:root {
  --white: #FFFFFF;
  --silverleave:#8d8d8d;
  --silver: #323238;
  --silverock: #505050;
  --black: #000000;
  --yellow: #eba417;
  --yellowtext: #dbb63d;

}

@media (max-width: 1080px){
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px){
  html {
    font-size: 87.5%; //14px
  }
}
@media (max-width: 480px){
  html {
    font-size: 80.35%; //14px
  }
}


body{
  background-color: var(--black);
  color: var(--white);
  

}

body, input, textarea, select, button {
  font: 400 1rem "Kaisei Decol", sans-serif;
}
button{
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
}