
.headContainer{
   
  position: relative;
  
}
.headerContent{
  
  background-image: url("../../../public/backgroundHeader.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  color: black;
  margin: 0 auto;
  nav{
    margin: 0 auto;
    display: flex;
    max-width: 900px;
    button{
      margin-left:auto;
  }
  a{
    &.active{
      color: var(--white);
    }
  }
    
}
  h1{
    max-width: 800px;
    margin: 0 auto;
    margin-top: -1.5rem;
    font-size: 4rem;
    cursor: pointer;
  }

  a{
    padding: 0.5rem;
    transition:color 0.2s;
    &:hover{
      color: var(--white);
    }
    &.active::after{
      content: '';
      height: 3px;
      border-radius: 3px 3px 0 0;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      color: var(yellow);
    }
  }
  
}
  
@media(max-width:800px) {
  .headerContent{

    h1{
      font-size:3.5rem ;
      margin-top: -1rem;
    }
  }
}
@media(max-width:600px) {
  .headerContent{
    h1{
      font-size:2.5rem ;
      margin: 0;
    }
    nav{
      display: block;
    }
  }
}
@media(max-width:400px) {
  .headerContent{
    h1{
      font-size:2.4rem ;
      margin: 0;
    }

    nav{
      display: block;
    }
  }
  
  
}


